.Discount-component{

}
.container-discount{
    padding-bottom: 50px;
    background: #fdfdfd;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 1200px;
    box-shadow: 0px 0px 13px #e0dede;
    padding: 20px;
}
.title-tab {
    color: #000;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
    font-size: 16px;
}
.sub-title {
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 5px;
}
.input-date-style {
    border: 1px solid #aaaaaa;
    height: 35px;
    padding: 0 10px;
    display: block;
    min-width: 300px;
}
.padding-bottom-150px{
    padding-bottom: 150px;
}
.search-product{
    position: relative;
}
.button-search{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -2px;
    right: 0;
    background: #ea4242;
    text-align: center;
    line-height: 40px;
}
.input-search{
    min-width: calc(100% - 25px);
}
.button-search:hover{
    background: #f17777;
}
.button-search> i{
    color: #fdfdfd;
}
.product-found{
    margin-top: 10px;
}
.search-product-item{
    border: 1px solid #dc3333;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
.search-product-item:hover .add-item {
    display: inline-block;
}
.search-product-item:hover .sub-item{
    display: inline-block;
}
.cut-text{
    display: inline-block;
    width: 90px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.2em;
    white-space: nowrap;
    text-align: center;
}
.border-cut-text{
    border-right: 1px solid #ea4343;
    border-left: 1px solid #ea4242;
}
.cut-text-width-150px{
    width: 150px;
}
.cut-text-width-300px{
    width: 190px;
}
.add-item, .sub-item{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    color: #fdfdfd;
    width: 20px;
    height: 20px;
    border-left: 1px solid #ea4242;
    line-height: 20px;
    text-align: center;
    border-bottom: 1px solid #ea4242;
    background: #ea4241;
    border-bottom-left-radius: 5px;
}